
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

footer {
    display: flex;
    padding: 10px 50px;
    background-color: #45a1ff;
    color: #fff
}
footer ul {
    flex: 4;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
footer p {
    flex: 1;
    margin: 0;
}